@model NewsPaperProject.Models.tbl_news
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Editors</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">*@
    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Theme style -->
    @*<link rel="stylesheet" href="dist/css/adminlte.min.css">*@
    <link href="~/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- summernote -->
    @*<link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">*@
    <link href="~/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <!-- CodeMirror -->
    @*<link rel="stylesheet" href="plugins/codemirror/codemirror.css">*@
    <link href="~/plugins/codemirror/codemirror.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="plugins/codemirror/theme/monokai.css">*@
    <link href="~/plugins/codemirror/theme/monokai.css" rel="stylesheet" />
    <!-- SimpleMDE -->
    <link rel="stylesheet" href="plugins/simplemde/simplemde.min.css">
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="container">
        @*<div class="wrapper" style="margin-top: 140px;">*@
        <h5>ADD New Post</h5>
        @using (Html.BeginForm("AddPost", "NewsPost", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
            <div class="row_one">
                <div class="row">
                    <div class="col">
                        @Html.DropDownListFor(m => m.categoryid, Model.categorylist ?? new List<SelectListItem>(), "-Please select-")
                        @*@Html.DropDownListFor(model => model.categoryid, (IEnumerable<SelectListItem>)Model.categorylist)*@
                        @*@Html.DropDownListFor(model => model.categoryid,new SelectList(Model.categorylist, "categoryid", "categoryname"), new { htmlAttributes = new { @class = "form-control" } } )*@
                    </div>
                    <div class="col">
                        <select class="form-control">
                            <option>Default select</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control">
                            <option>Default select</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="Date" class="form-control" id="exampleFormControlInput1" placeholder="Date">
                    </div>
                </div>
            </div>
        <div class="row_two" style="margin-top: 10px;">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Short Headline</label>
                        @Html.EditorFor(model => model.short_headline, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Headline</label>
                        @Html.EditorFor(model => model.headline, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Text Editors</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                Please Write Here Your Brief Description of News
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <textarea id="summernote" name="desc">
                                Place some text here
                            </textarea>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>
            <div class="img_section" style="margin-top: 5px;">
                <h3>Image Section</h3>
                <div class="row">
                    <div class="custom-file">
                        <input type="file" name="ImageFile" required />
                        @*<input type="file" class="custom-file-input" id="customFile">*@
                        @*<label class="custom-file-label" for="ImageFile">Choose file</label>*@
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Image Alt</label>
                            @Html.EditorFor(model => model.Alttext, new { htmlAttributes = new { @class = "form-control" } })
                            @*<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Image Alt">*@
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Image Title</label>
                            @Html.EditorFor(model => model.ImageTitle, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="img_section" style="margin-top: 5px;">
                <h3>Select News Priroty</h3>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Latest News
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Breaking News
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Status
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Schema Setup
                        </label>
                    </div>
                </div>
            </div>*@
            <button type="submit" class="btn btn-success" style="margin-top: 2rem;">Add post</button>
        </section>
        }
    </div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
   
    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="plugins/jquery/jquery.min.js"></script>*@
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    @*<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="dist/js/adminlte.min.js"></script>*@
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- Summernote -->
    @*<script src="plugins/summernote/summernote-bs4.min.js"></script>*@
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- CodeMirror -->
    @*<script src="plugins/codemirror/codemirror.js"></script>*@
    <script src="~/plugins/codemirror/codemirror.js"></script>
    @*<script src="plugins/codemirror/mode/css/css.js"></script>*@
    <script src="~/plugins/codemirror/mode/css/css.js"></script>
    @*<script src="plugins/codemirror/mode/xml/xml.js"></script>*@
    <script src="~/plugins/codemirror/mode/xml/xml.js"></script>
    @*<script src="plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>*@
    <script src="~/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="dist/js/demo.js"></script>*@
    <script src="~/dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote()
            // CodeMirror
            CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
                mode: "htmlmixed",
                theme: "monokai"
            });
        })
    </script>
</body>
</html>
